{% extends 'base.html' %} {% block body %}

<div class="jumbotron jumbotron-fluid boats-page">
    <h1 class="text-center mt-2 mb-5 white-fg">Cruise the world with us...</h1>
    <form class="col-10 offset-1 border p-3 white-bg">
        <div class="row mb-2">
            <div class="col">Departure Date</div>
            <div class="col">Return Date</div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="mm/dd/yyyy">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="mm/dd/yyyy">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="Departure Port">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Destination Port">
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary ml-3">Find Boats</button>
        </div>
    </form>
</div>

{% endblock %}